body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}
p {
  margin: 0;
}

header {
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}
.logo {
  width: 150px;
}
.avata-img-header {
  width: 2rem;
}
.user-header {
  color: var(--Gray-1, #333);
  font-family: Noto Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02625rem;
}
.dropdown-list {
  width: 11rem;
}
main {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}
.item-profile {
  color: #4f4f4f;
  font-family: Noto Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02625rem;
}
.line {
  border-top: solid #e0e0e0 1px;
  width: 90%;
  margin: 0 auto;
}
.logout button {
  color: var(--Red, #eb5757);
  font-family: Noto Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1.1rem;
  letter-spacing: -0.02625rem;
}

.container-btn-back {
  width: 100%;
  margin: 0 auto;
}
.container-btn-back button {
  text-decoration: none;
  color: #2d9cdb;
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03938rem;
}
.card-with {
  width: 50rem;
}

h4 {
  color: #000;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0525rem;
}
h5 {
  color: #828282;
  font-family: Noto Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02844rem;
}

.avatar-img {
  width: 12%;
  margin: 2rem 0;
}

.btn-file {
  color: #828282;
  font-family: Noto Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02844rem;
}
.custom-file-upload {
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload input {
  display: none;
}
.bi-camera-fill {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  top: -65%;
  transform: translateY(20%);
  transform: translateX(-305%);
  left: 0.75em;
}

label {
  color: #4f4f4f;
  font-family: Noto Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02844rem;
}
::placeholder {
  color: #bdbdbd;
  font-family: Noto Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02844rem;
}
input,
textarea {
  color: #424242 !important;
  font-family: Noto Sans;
  font-size: 0.8125rem !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02844rem;
}
.btn-save {
  color: #fff;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.035rem;
}
@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    height: 100vh;
  }
  header {
    width: 100%;
  }
  .logo {
    width: 100px;
  }
  .avata-img-header {
    width: 1.8rem;
  }
  .user-header {
    display: none;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-list {
    position: absolute;
    transform: translateY(-120%);
    transform: translateX(-55%);
  }
  .dropdown-li {
    padding: 0;
    padding: 2px !important;
  }
  main {
    width: 100%;
  }
  .btn-link {
    padding: 0 !important;
  }
  .item-profile {
    font-size: 0.7rem;
    letter-spacing: -0.02625rem;
  }
  .logout button {
    font-size: 0.7rem;
    padding-left: 0.9rem;
  }
  .card-with {
    width: 100%;
    padding: 1.2rem !important;
  }
  .avatar-img {
    width: 30%;
    margin: 0.2rem 0;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 0.8rem;
  }
  .btn-file {
    font-size: 0.75rem;
    cursor: pointer;
  }
  label {
    font-size: 0.85rem;
  }

  .col-6 {
    width: 100%;
  }
  .btn-save {
    font-size: 1rem;
    font-weight: 600;
  }
}
